package partials

templ Footer() {
<section class="bg-base-200/30 shadow-lg">
  <div class=" px-4 py-8 mt-32 mx-auto space-y-8 overflow-hidden sm:px-6 lg:px-8">
    <p class="text-base leading-6 text-center text-gray-400">
      &copy; 2024 <a href="https://gonext.tech" target="_blank" class="hover:text-blue-500 hover:underline">Gonext</a>.
      All rights reserved.
    </p>
  </div>
</section>
}
