package components

import (
"github.com/gonext-tech/internal/models"
"strconv"
)

templ MembershipResult(membership_id uint, memberships []models.Membership) {
<option value="" selected?={ membership_id==0 } disabled>Select a membership</option>
for _, membership := range memberships {
<option selected?={ membership.ID==membership_id } data-duration={ strconv.Itoa(int(membership.Duration)) } value={
  strconv.Itoa(int(membership.ID)) }>
  {
  membership.Name }
</option>
}
}
