@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

body {
  font-family: "Kanit", sans-serif;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slide-from-left {
  from {
    transform: translateX(-90px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-to-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(90px);
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(90px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-to-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-90px);
  }
}

/* Backward transition */
::view-transition-old(slide-back) {
  animation:
    600ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-right;
}

::view-transition-new(slide-back) {
  animation:
    600ms cubic-bezier(0, 0, 0.2, 1) both fade-in,
    600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-left;
}

/* Forward transition */
::view-transition-old(slide-it) {
  animation:
    600ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(slide-it) {
  animation:
    600ms cubic-bezier(0, 0, 0.2, 1) both fade-in,
    600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

/* Tie the view transition to a given CSS class */
.sample-transition {
  view-transition-name: slide-it;
}

.sample-transition-back {
  view-transition-name: slide-back;
}
